.text-danger {
	color: red;
	text-align: center;
	margin-top: 20px;
}

.btn-info {
	background: #039BE5;
	background-color: #039BE5 !important;
	border: 1px solid #039BE5;
	border-color: #039BE5 !important;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;
	color: #fff;
	padding: 8px 12px;
}

.btn-info:hover,
.btn-info:focus {
	background: #039BE5 !important;
	opacity: .8;
}

.btn-outline {
	background: transparent !important;
	background-color: transparent !important;
	color: #039BE5 !important;
}

.btn-outline:hover,
.btn-outline:focus {
	background: #039BE5 !important;
	color: #fff !important;
}

.input-field {
	background: none;
	box-shadow: none;
	border: 0;
	border-bottom: 2px solid #95989A;
	border-radius: 0;
	color: #95989A;
	font-size: 16px;
	margin-bottom: 25px;
	padding: 0;
}

.input-field:focus {
	border-bottom: 2px solid #039BE5;
	box-shadow: none;
	color: #039BE5;
}

.white-box {
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.4);
    margin-bottom: 30px;
    padding: 25px;
}

.first-column {
	height: 100%;
	padding: 0 60px 0 50px;	
}

.login-form {
	display: table;
	height: 500px;
	margin: auto;
	padding: 0;
	width: 60%;
	position: relative;
}

.login-heading-text {
	font-weight: normal;
	margin: 50px 0;
}

.login-button {
	margin-top: 20px;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
}

.text-center {
	background: #CCCECE;
	border-radius: 50px;
	color: #95989A;
	font-size: 28px;
	height: 74px;
	margin: 0 auto;
	padding: 15px 0;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
  	width: 74px;
  	z-index: 900;
}

.second-column {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), 
				url("/images/registration-background.png");
	height: 100%;
	padding: 0 60px 0 50px;
}

.login-with-text {
	color: #fff;
	line-height: 53px;
	margin-bottom: 70px;
	margin-top: 50px;
	text-align: center;
}

.social-network-buttons a {
	text-decoration: none !important;
}

.facebook-button {
	background: #32508E;
	color: #fff;
	display: block;
	margin: 20px auto;
	padding: 15px;
	width: 260px;
	font-size: 16px;
}

.facebook-button:hover,
.facebook-button:focus {
	color: #fff;
}

.google-button {
	background: #DD4B39;
	color: #fff;
	display: block;
	margin: 20px auto;
	padding: 15px;
	width: 260px;
	font-size: 16px;
}

.google-button:hover,
.google-button:focus {
	color: #fff;
}

@media only screen and (max-width: 600px) {
    .login-form {
        height: auto;
        width: 100%;
    }
    .text-center {
        display: none;
    }
    .first-column {
        padding-bottom: 50px;
    }
    .second-column {
        padding-bottom: 50px;
    }
}