.text-danger {
	color: red;
	text-align: center;
	margin-top: 20px;
}

.btn-info {
	background: #039BE5;
	background-color: #039BE5 !important;
	border: 1px solid #039BE5;
	border-color: #039BE5 !important;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1) !important;
	color: #fff;
	padding: 8px 12px;
}

.btn-info:hover,
.btn-info:focus {
	background: #039BE5 !important;
	opacity: .8;
}

.btn-outline {
	background: transparent !important;
	background-color: transparent !important;
	color: #039BE5 !important;
}

.btn-outline:hover,
.btn-outline:focus {
	background: #039BE5 !important;
	color: #fff !important;
}

.input-field {
	background: none;
	box-shadow: none;
	border: 0;
	border-bottom: 2px solid #95989A;
	border-radius: 0;
	color: #95989A;
	font-size: 16px;
	margin-bottom: 25px;
	padding: 0;
}

.input-field:focus {
	border-bottom: 2px solid #039BE5;
	box-shadow: none;
	color: #039BE5;
}

.select-field {
	background: none;
	box-shadow: none;
	border: 0;
	border-bottom: 2px solid #95989A;
	border-radius: 0;
	color: #95989A;
	font-size: 16px;
	margin-bottom: 25px;
	padding: 0;
}

.select-field:focus {
	border-bottom: 2px solid #039BE5;
	box-shadow: none;
}

.verify-input {
	border-bottom: 2px solid red;
}

.verify-input:focus {
	border-bottom: 2px solid #039BE5;
}

.steps-form-2 {
    display: table;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}

.steps-form-2 .steps-row-2 {
	display: table-row;
}

.steps-form-2 .steps-row-2:before {
    top: 2px;
    bottom: 0;
    left: 15%;
    position: absolute;
    content: " ";
    width: 70%;
    height: 2px;
    background-color: #B5B5B5;
}

.steps-form-2 .steps-row-2.social:before {
	left: 20%;
	width: 50%;
}

.steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 200px;
}

.steps-form-2 .steps-row-2 .steps-step-2.social {
	width: auto;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
	width: 50px;
    height: 50px;
    background-color: #686868 !important;
    color: #FFF !important;
    border-radius: 50%;
    padding: 15px 18px 15px 18px;
    margin-top: -22px;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2.active {
	background-color: #039BE5 !important;
	box-shadow: none;
}

.steps-form-2 .steps-row-2 .steps-step-2 .text {
	font-size: 12px;
	margin-top: 10px;
	color: #686868;
}

.white-box {
    background: #fff;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.4);
    margin-bottom: 30px;
    padding: 25px;
}

#personal_details_form {
	display: none;
}

#terms_and_agreement_form {
	display: none;
}

.first-column {
	height: 100%;
	padding: 0 60px 0 50px;	
}

.registration-form {
	display: table;
	height: 500px;
	margin: auto;
	padding: 0;
	width: 60%;
	position: relative;
}

.preloader {
	background-color: rgba(255,64,129,0.22);
    position: absolute;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.preloader .indeterminate {
	background-color: #ff4081;
}

.preloader .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -moz-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -ms-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    -o-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.preloader .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -moz-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -ms-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -o-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
    -ms-animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.register-heading-text {
	font-weight: normal;
	margin: 50px 0;
}

.register-button {
	margin-top: 20px;
	font-size: 16px;
	text-transform: uppercase;
	width: 100%;
}

.text-center {
	background: #CCCECE;
	border-radius: 50px;
	color: #95989A;
	font-size: 28px;
	height: 74px;
	margin: 0 auto;
	padding: 15px 0;
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
  	width: 74px;
  	z-index: 900;
}

.second-column {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), 
				url("/images/registration-background.png");
	height: 100%;
    padding: 0 60px 0 50px;
}

.login-with-text {
	color: #fff;
	line-height: 53px;
	margin-bottom: 70px;
	margin-top: 50px;
	text-align: center;
}

.social-network-buttons a {
	text-decoration: none !important;
}

.facebook-button {
	background: #32508E;
	color: #fff;
	display: block;
	margin: 20px auto;
	padding: 15px;
	width: 260px;
	font-size: 16px;
}

.facebook-button:hover,
.facebook-button:focus {
	color: #fff;
}

.google-button {
	background: #DD4B39;
	color: #fff;
	display: block;
	margin: 20px auto;
	padding: 15px;
	width: 260px;
	font-size: 16px;
}

.google-button:hover,
.google-button:focus {
	color: #fff;
}

.personal-details-column {
	padding: 0 60px 0 50px;
}

.terms-and-agreement-column {
    padding: 0 60px 0 50px;
}

#state {
	display: none;
}

.terms-content {
	height: 180px;
	overflow: auto;
	padding-right: 10px;
}

.checkbox {
	padding-left: 20px;
}

.checkbox-info {
	margin-top: 30px;
}

.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.checkbox label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid rgba(120,130,140,.50);
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 17px;
    outline: 0!important;
}

.checkbox-info input[type=checkbox]:checked+label::before {
	background-color: #039BE5;
    border-color: #039BE5;
}

.checkbox-info input[type=checkbox]:checked+label::after {
    color: #fff;
}

.checkbox input[type=checkbox]:checked+label::after {
    content: "\f00c";
    font-family: FontAwesome;
}

.checkbox label::after {
	color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    60% {
        left: 100%;
        right: -90%
    }
    100% {
        left: 100%;
        right: -90%
    }
}

@-moz-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    60% {
        left: 100%;
        right: -90%
    }
    100% {
        left: 100%;
        right: -90%
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }
    60% {
        left: 100%;
        right: -90%
    }
    100% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    100% {
        left: 107%;
        right: -8%
    }
}

@-moz-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    100% {
        left: 107%;
        right: -8%
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    100% {
        left: 107%;
        right: -8%
    }
}

@media only screen and (max-width: 600px) {
    .registration-form {
        height: auto;
        width: 100%;
    }
    .text-center {
        display: none;
    }
    .first-column {
        padding-bottom: 50px;
    }
    .second-column {
        padding-bottom: 50px;
    }
    .personal-details-column {
        padding-bottom: 50px;
    }
    .terms-and-agreement-column {
        padding-bottom: 50px;
    }
    .steps-form-2 {
        width: 350px;
    }
}